ul {
  list-style: none;
}

.wrapper {
  width: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.main-wrapper {
  width: 600px;
  margin-top: 30px;
}

.lamp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  margin: 0;
  background-color: black;
  border-radius: 10px;
  -webkit-padding-start: 0px;
}

.big-lamp {
  height: 300px;
}

.small-lamp {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: white;
}

.btn-walk {
  width: 75px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 30%;
  background-color: grey;
  border-color: transparent;
}

.timer {
  width: 75px;
  height: 80px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 30%;
  background-color: grey;
  padding-top: 30px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}